{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "appdir": true,
    "rootdir": true,
    "libdir": true,
    "logger": true,
    "config": true
  }
}
